@media (max-width: 768px) {
  
   
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #171f25;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        background: #090f13;
        margin: .5rem;
    }

    .nav{
        display: flex;
        aign-items: center;
        justify-content: center;
    }

    li{
        list-style: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: 1rem;
    }
    .cabecalho img{
        width: 90px;
        
    }

    .corpo{
        diosplay: flex;
        flex-direction: column;
    }

    .filmes{
        display: flex;
        flex-direction: column;
    }

    .animes{
        display: flex;
        flex-direction: column;
    }

    .jogos{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .card img{
        width: 4rem;
        height: 7rem;
        border-radius: 1rem;
    }

    h4{
        text-align: center;
        color: white;
    }

    p{
        color: white;
    }

    a{
        
        color: white;
    }

    .cabecalho a:hover{
        color: #c90a02;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #171f25;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        background: #090f13;
        margin: .5rem;
    }

    .nav{
        display: flex;
        aign-items: center;
        justify-content: center;
    }

    li{
        list-style: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: 1rem;
    }
    .cabecalho img{
        width: 100px;
        
    }

    .corpo{
        diosplay: flex;
        flex-direction: column;
    }

    .filmes{
        display: flex;
        flex-direction: column;
    }

    .animes{
        display: flex;
        flex-direction: column;
    }

    .jogos{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .card img{
        width: 5rem;
        height: 7rem;
        border-radius: 1rem;
    }

    h4{
        text-align: center;
        color: white;
    }

    p{
        color: white;
    }

    a{
        
        color: white;
    }

    .cabecalho a:hover{
        color: #c90a02;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #171f25;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        background: #090f13;
        margin: .5rem;
    }

    .nav{
        display: flex;
        aign-items: center;
        justify-content: center;
    }

    li{
        list-style: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: 1rem;
    }
    .cabecalho img{
        width: 100px;
        
    }

    .corpo{
        diosplay: flex;
        flex-direction: column;
    }

    .filmes{
        display: flex;
        flex-direction: column;
    }

    .animes{
        display: flex;
        flex-direction: column;
    }

    .jogos{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .card img{
        width: 5rem;
        height: 7rem;
        border-radius: 1rem;
    }

    h4{
        text-align: center;
        color: white;
    }

    p{
        color: white;
    }

    a{
        
        color: white;
    }

    .cabecalho a:hover{
        color: #c90a02;
    }
}
